[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.88.0"
uvicorn = {version = "==0.20.0", extras = ["standard"]}
pyaml-env = "==1.2.0"
sqlalchemy = "==1.4.44"
asyncpg = "==0.27.0"
passlib = {version = "==1.7.4", extras = ["bcrypt"]}
python-jose = {version = "==3.3.0", extras = ["cryptography"]}
python-multipart = "==0.0.5"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.8"
